name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  unit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up 64-bit Corretto 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'
          architecture: x64
          cache: maven

      - name: Run unit tests
        run: SPRING_PROFILES_ACTIVE=test mvn -B -ntp -Dgroups=unit test
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}

  integration:
    if: ${{ vars.JOB_ENABLED == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up 64-bit Corretto 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'
          architecture: x64
          cache: maven

      - name: Run Spring SDK (java-spring6) integration tests
        run: mvn -B -ntp -Dgroups=integration test
        env:
          BLINKPAY_DEBIT_URL: ${{ vars.DEBIT_URL }}
          BLINKPAY_CLIENT_ID: ${{ vars.CLIENT_ID }}
          BLINKPAY_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          BLINKPAY_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - name: Run Plain Java SDK (java-v2) integration tests
        run: cd java-v2 && mvn -B -ntp verify
        env:
          BLINKPAY_DEBIT_URL: ${{ vars.DEBIT_URL }}
          BLINKPAY_CLIENT_ID: ${{ vars.CLIENT_ID }}
          BLINKPAY_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}

  snyk:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up 64-bit Corretto 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'
          architecture: x64
          cache: maven

      - name: Run Snyk to check for vulnerabilities
        run: |
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.3/install.sh | bash
          export NVM_DIR="$HOME/.nvm" && \. $NVM_DIR/nvm.sh
          nvm install 16
          npm install -g snyk
          snyk auth ${{ secrets.SNYK_TOKEN }}
          snyk monitor --org=blinkpay-zw9 --maven-aggregate-project
        continue-on-error: true

  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up 64-bit Corretto 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'
          architecture: x64
          cache: maven

      - name: Run Sonar on blink-debit-api-client-java to inspect code
        run: >
          SPRING_PROFILES_ACTIVE=test
          mvn -B -ntp -pl .,core,java-v2 verify sonar:sonar
          -DskipTests
          -Dgpg.skip
          -Dsonar.projectKey=blink-debit-api-client-java
          -Dsonar.organization=blinkpay
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.junit.reportPaths=target/surefire-reports
          -Dsonar.coverage.plugin=jacoco
          -Dsonar.coverage.jacoco.xmlReportPaths=target/coverage-reports/jacoco-ut/jacoco.xml
          -Dsonar.projectName=blink-debit-api-client-java
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Run Sonar on blink-debit-api-client-java-spring6 to inspect code
        run: >
          SPRING_PROFILES_ACTIVE=test
          mvn -B -ntp -pl .,core,java-spring6 verify sonar:sonar
          -DskipTests
          -Dgpg.skip
          -Dsonar.projectKey=blink-debit-api-client-java-spring6
          -Dsonar.organization=blinkpay
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.junit.reportPaths=target/surefire-reports
          -Dsonar.coverage.plugin=jacoco
          -Dsonar.coverage.jacoco.xmlReportPaths=target/coverage-reports/jacoco-ut/jacoco.xml
          -Dsonar.projectName=blink-debit-api-client-java-spring6
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SPRING6_SONAR_TOKEN }}